# Dependencies
node_modules
.pnpm-store

# Next.js
apps/web/.next
apps/web/out

# Expo
apps/mobile/.expo
apps/mobile/dist

# Build outputs
dist
build

# Environment variables
.env
.env.local
.env.*.local

# Turbo
.turbo

# OS
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
